@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Learn, Share, Build!</h1>
            <h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet consectetur adipiscing elit pellentesque. 
                Tincidunt ornare massa eget egestas purus. A cras semper auctor neque vitae tempus quam pellentesque nec. Fermentum odio eu feugiat pretium nibh. Mus mauris vitae ultricies leo integer malesuada nunc vel risus. Mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare. 
                Amet purus gravida quis blandit turpis cursus in hac. 
            </h4>
            <p class="lead">Join the world’s largest developer community.</p>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-light">Founded in 2008</div>
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non nisi est sit amet facilisis. Nec feugiat in fermentum posuere urna. Ullamcorper malesuada proin libero nunc consequat interdum. In hac habitasse platea dictumst quisque sagittis. Tempor id eu nisl nunc mi ipsum. Id faucibus nisl tincidunt eget nullam non nisi est. Porttitor massa id neque aliquam vestibulum morbi blandit cursus. Tristique senectus et netus et malesuada. Lorem ipsum dolor sit amet consectetur adipiscing elit ut. Pellentesque adipiscing commodo elit at imperdiet dui accumsan.
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-light">Our Partners</div>
            <div class="card-body">
                Cum sociis natoque penatibus et magnis dis parturient montes. Nulla porttitor massa id neque aliquam vestibulum. Cursus mattis molestie a iaculis at erat pellentesque. Mauris pharetra et ultrices neque ornare. Purus in mollis nunc sed id semper risus in hendrerit. Et malesuada fames ac turpis egestas sed. Quam pellentesque nec nam aliquam sem. Aliquam faucibus purus in massa tempor nec feugiat. Viverra ipsum nunc aliquet bibendum enim facilisis gravida neque. Consectetur adipiscing elit pellentesque habitant morbi tristique senectus et netus. Augue lacus viverra vitae congue eu. Et malesuada fames ac turpis egestas sed tempus urna et. Tristique senectus et netus et malesuada fames. Accumsan lacus vel facilisis volutpat est velit. Amet facilisis magna etiam tempor orci eu lobortis elementum nibh. Turpis massa sed elementum tempus egestas sed sed. Scelerisque in dictum non consectetur a erat nam. Venenatis urna cursus eget nunc scelerisque viverra mauris in. Mi sit amet mauris commodo. Faucibus interdum posuere lorem ipsum dolor.
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="'col-sm-12">
        <div class="card">
            <div class="card-header bg-light">Offices</div>
            <img class="card-img-top" src="~/Images/map.svg" alt="Offices">
            <div class="card-body">
                Mauris rhoncus aenean vel elit scelerisque mauris pellentesque. Ornare aenean euismod elementum nisi quis eleifend quam adipiscing vitae. Morbi blandit cursus risus at. Tortor aliquam nulla facilisi cras fermentum odio eu. Scelerisque eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada.
            </div>
        </div>
    </div>
</div>

<script>
    $("a[href='/home/about']").attr("id", "active");
</script>


