@model List<QandAViewModels.QuestionViewModel>

@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Learned,Shared,Build</h1>
            <h3>Each month over 50 millions developers come to stack overflow to learn. </h3>
            <p class="lead">Join the world largest developer comunity.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table">
            @foreach (var item in Model)
            {
                Html.RenderPartial("Question", item);
            }
        </table>
        @if (Session["CurrentUserName"] != null)
        {
            <a href="/questions/create" class="btn btn-primary">Add Question</a>
        }
    </div>
</div>
<script>
    $("a[href='/home/index']").attr("id", "active");
</script>